@import "@fuse/scss/fuse";

app-toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .user-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}
